.header-popular {
  font-family: Oswald;
  font-size: 2rem;
  font-weight: 700;
}

.btn-popular {
  text-decoration: underline;
  font-weight: 500;
}

.btn-popular:hover {
  color: orange;
  cursor: pointer;
}
