.lower-text {
  color: #808080 !important;
  font-size: 0.9rem;
}

.upper-text {
  color: #000000 !important;
  font-size: 1rem;
}

.no-decoration.no-decoration {
  text-decoration: none !important;
}
