$white: #fdfbf9;
$pink: #ff6699;
$red: #b33f40;
$black: #171717;
$yellow: #edd94c;
$blue: #6577b3;
$green: #48a14d;
$purple: #9370db;
$gray: #7b7b7c;
$skyblue: #7aaec4;
$brown: #bb8d6f;
$silver: #a5a5a8;
$tealblue: #367588;
$violet: #8658a5;
$yellowgreen: #9acd32;
$mintgreen: #98ff98;
$phantasm: #3b1e08;

.btn-white {
  background-color: $white !important;
  border-color: $white !important;
}

.btn-pink {
  background-color: $pink !important;
  border-color: $pink !important;
}

.btn-red {
  background-color: $red !important;
  border-color: $red !important;
}

.btn-black {
  background-color: $black !important;
  border-color: $black !important;
}

.btn-yellow {
  background-color: $yellow !important;
  border-color: $yellow !important;
}

.btn-blue {
  background-color: $blue !important;
  border-color: $blue !important;
}

.btn-green {
  background-color: $green !important;
  border-color: $green !important;
}

.btn-purple {
  background-color: $purple !important;
  border-color: $purple !important;
}

.btn-gray {
  background-color: $gray !important;
  border-color: $gray !important;
}

.btn-skyblue {
  background-color: $skyblue !important;
  border-color: $skyblue !important;
}

.btn-brown {
  background-color: $brown !important;
  border-color: $brown !important;
}

.btn-silver {
  background-color: $silver !important;
  border-color: $silver !important;
}

.btn-tealblue {
  background-color: $tealblue !important;
  border-color: $tealblue !important;
}

.btn-violet {
  background-color: $violet !important;
  border-color: $violet !important;
}

.btn-yellowgreen {
  background-color: $yellowgreen !important;
  border-color: $yellowgreen !important;
}

.btn-mintgreen {
  background-color: $mintgreen !important;
  border-color: $mintgreen !important;
}

.btn-phantasm {
  background-color: $phantasm !important;
  border-color: $phantasm !important;
}
