#sports:hover,
#travels:hover,
#shop1:hover {
  text-decoration: underline !important;
  color: orange !important;
}

.cart-icon {
  width: 45px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 24px;
    height: 24px;
  }

  .item-count {
    position: absolute;
    font-size: 0.7rem;
    font-weight: bold;
    bottom: 0;
  }
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute !important;
}

a {
  color: black !important;
}

a:hover {
  color: orange !important;
  text-decoration: underline !important;
}

.offcanvas-top {
  width: 100% !important;
}

@media (min-width: 993px) {
  .dropdown-toggle::after {
    display: none !important;
  }
}
